<div class="container mt-4">
  <h2 class="mb-4 text-center fw-bold text-success">📊 Mi Resumen Nutricional</h2>

  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card shadow border-0 p-4 rounded-4 h-100">
        <h5 class="text-center mb-3 fw-bold text-dark">Distribución de Hoy</h5>
        
        <div *ngIf="cargandoGrafico" class="text-center my-5">
           <div class="spinner-border text-success"></div>
        </div>

        <div *ngIf="!cargandoGrafico && pieChartData.datasets[0].data[0] === 0 && pieChartData.datasets[0].data[1] === 0 && pieChartData.datasets[0].data[2] === 0" class="alert alert-light text-center">
          No hay datos hoy. ¡Añade comida en tu diario!
        </div>

        <canvas *ngIf="!cargandoGrafico && (pieChartData.datasets[0].data[0] !== 0 || pieChartData.datasets[0].data[1] !== 0 || pieChartData.datasets[0].data[2] !== 0)"
          baseChart
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions">
        </canvas>
      </div>
    </div>
  </div>
</div>